<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1>
    User Profile Page
</h1>
<div>
    <ul style="list-style: none">
        <li>
            <span>Username {{ username }}</span>
        </li>
    </ul>
</div>
</body>
</html>